<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}"/>
	<link href='http://fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic,700italic|Libre+Baskerville:400,400italic|Volkhov:400,400italic,700,700italic|Merriweather:400,400italic,300,300italic,700,700italic,900,900italic|Old+Standard+TT:400,400italic,700|Ubuntu+Condensed' rel='stylesheet' type='text/css'/>
	<title>Azuuuuuuuul</title>

</head>

<body>


	<div id="fb-root"></div>
	<script>(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&appId=1506431752906360&version=v2.0";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>



	<div class="info">
		<h1 class="title"><i>Welcome to Wonderland</i></h1>
	</div>
	<div class="contents">
		<div class="portrait">
			<img src="{{ url_for('static', filename = 'img/adsf.jpg') }}" alt ="King Dae Hong" style="width:300px"/>
			<p>Meet the King of Wonderland</p>
		</div>
		<div class="profile">
			<br>
			<br>
			Name: Kim, Dae Hong<br>
			Birth: February 2nd, 1994<br>
			Hometown: Daejeon<br>
			Work: like_lion@snu-yonsei<br>
			Motto: "Why not procrastinate?"<br>
			e-mail: azulpanda@snu.ac.kr<br>
			<br>
			Plant a seed: <a href="{{url_for('seed')}}">Click to Find Out</a><br>
			<br>
			<br>
			<br>
			<p class="descripstion">
				<i>Q. What does azulpanda stand for?<br></i>
				<br>
				A. Let me answer that question with another question. How often do you see a word starting with 'a' instantly followed by 'z'? It just looks and sounds so peculiar. And for panda, do I even need to explain? They're cute. Period. <br>
			</p>
		</div>
	</div>
	<br><br>
	<div class="pictures">
		<br><br><br>
		<h3>The kind of things I do</h3><br>
		<img src="{{ url_for('static', filename = 'img/1.jpg') }}" alt="1"/>    <img src="{{ url_for('static', filename = 'img/2.jpg') }}" alt="2"/>    <img src="{{ url_for('static', filename = 'img/3.jpg') }}" alt="3"/>    <img src="{{ url_for('static', filename = 'img/4.jpg') }}" alt="4"/>
	</div>
	<br><br>
	<div style="width:850px; text-align:center; margin:0 auto;">
		<iframe width="420" height="315" src="//www.youtube.com/embed/ZhqB8tiHKP0" allowfullscreen></iframe>
	</div>
	<div class="fb-like" data-href="http://grizzlyraccoon.appspot.com" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
</body>
</html>

