<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style_seed.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='js/js_seed.js') }}"></script>
	<title>Plant a Seed</title>
	<link href='http://fonts.googleapis.com/css?family=Lato:100' rel='stylesheet' type='text/css'>
</head>
<body>
	<table id="screen">
		<tr>
			<td>
				<div class = "bigbutton">
					<p id="plant">PLANT A SEED</p>
				</div>
				<div class="text_area">
					<p id="inst"><i>"Plant a Seed"</i> lets you visualize the time left until deadlines on your smart phones,computers, and your favorite web browsers.</p>
				</div>
			</td>
		</tr>
	</table>
</body>
</html>